<%- model_class = Post -%>

<%= render :partial => @post %>



<%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>


<h2>New Comment</h2>

<% @comment = Comment.new %>
<%= form_for [@post,@comment] do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.text_area :content, :rows => 5, :cols=>20 %></p>
  <p><%= f.submit %></p>
<% end %>                                    

<% if @post.comments.size > 0 %>
  <h2>Comments</h2>
  <% for comment in @post.comments %>
    <h3><%= comment.name %></h3>
    <p><%= comment.content %></p>
  <% end %>
<% end %>

